#homepageDiv{
    background-image: url('../../public/assets/HomePage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;

}

#form {
    caret: black underscore;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

#form ::placeholder {
    text-align: center; 
 }

.centeredDiv{
    margin:auto;
    width: 50%;
    text-align: center;
}

.musicButtonDiv{
    position: absolute;
    top: 1rem;
    left: 1rem;
}


