.homepageDiv{
    background-image: url('../../public/assets/HomePage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;

}

.form {
    caret: black underscore;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

.form ::placeholder {
    text-align: center; 
 }

.centeredDiv{
    margin:auto;
    width: 50%;
    text-align: center;
}

.musicButtonDiv{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.title {
    margin-top: 0;
    font-size: 110px;
    opacity: 1;
  }

.startButton{
    background-color: yellow;
    margin-top: 1.5rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 21px;
    color: black;
    width: 15rem;
    height:4rem;
    font-weight: bold;
  }
  
.startButton:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

