body, html, #root{
    height: 100vh;
    width: 100vw;
}

#Sprite {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s;
}

.zombieDiv{
    position: absolute;
    bottom: 0;
    right: 0;
}

#platform1div{
    background-image: url('../../public/assets/BridgeV3Moody.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
