#Sprite {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s;
}

#zombieSprite {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.1s;
}

#zombieButton{
    position: absolute;
    bottom: 0;
    right: 0;
}

 #platform2div{
     background-image: url('../../public/assets/BB.png');
     background-repeat: no-repeat; 
     height: 100vh;
    width: 100vw;
 } 


 
.bubble {
    opacity:0.5;
    margin-left: 450px;
    position: relative;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 24px;
    line-height: 24px;
    width: 600px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;

  }

  .bubble{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } 
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
     } 
}
  
