/* body, html, #root{
    height: 100vh;
    width: 100vw;
} */

.platform1div{
    background-image: url('../../public/assets/BridgeV3Moody.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} 

.Sprite {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    transition: 0.1s;
}

@keyframes run {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    } 
}

.runner {
    position: absolute;
    bottom: 3.5rem;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 5s;
} 

.bubble {
    opacity:0.75;
    position: fixed;
    bottom: 60%;
    right: 30rem;
    padding: 1em;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    line-height: 30px;
    width: 700px;
    background: #fff;
    text-align: center;
    color: #000;
    border: thick dashed black;
    
  } 

  
  .bubble{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } 
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     } 
}

.musicButtonDiv{
    position: absolute;
    top: 1rem;
    left: 1rem;
}